#main-footer .container,
#main-nav .container{

    max-width:calc(100% - 50px);
    overflow: hidden;
    justify-content: center;
}
#main-nav .navigations .drop:before,
#main-nav .navigations .drop:after{
    display: none;
}
/* Symptoms-Section */
#symptoms .image-area{
    transform: scale(1.2);
}
/* Precautions Sections */
#precautions  .image-area{
    height: 200px;
    width: 210px;
}
#precautions .precaution{
    margin-bottom: 50px;
}
/* map */
#map .container,
#map .effected-details h1,
#map .effected-details li,
#map .effected-details li span{
    flex-wrap: wrap;
}
#map .image-area img{
    transform: scale(1.1);
}

#main-footer .container .navigations{
    margin: 20px 0;
}

@media only screen and (max-width: 680px){

    .navigations{
        flex-wrap: wrap;
        justify-content: center;
    }
    .navigations li{
        margin-bottom:10px 
    }
}
@media(max-width: 425px){
    .container{
        max-width:calc(100% - 20px);
    }
    h1{
        font-size: 1rem;
    }
    .content p{
        margin-bottom: 10px;
    }
    /* Showcase-Section */
    #showcase .container,
    #intro .container{
        display: block;
        margin: auto;
    }
    #showcase{
         background:  url('../img/home-img.svg') no-repeat center center/cover;
    }
    #showcase .image-area,
    #intro .image-area{
        display: none;
    }
    #showcase .content,
    #intro .content{
        text-align: center;
       backdrop-filter: blur(2px);
       max-width: 300px;
       border-radius: 10px;
       background:  linear-gradient(180deg,rgba(254,237,236,1),rgba(255, 191, 190, 0.5));
       padding: 10px;
        margin:  3rem auto;
    }
    /* Intro-Section */
    #intro {
        background: url('../img/intro-pg.svg') no-repeat center center/cover;
    }
    #intro .light-bg{
        background: var(--primary-color);
        color: var(--secondary-color);
    }
    /* Symptoms */
    #symptoms .container{
        overflow: hidden;
    }
    #symptoms .image-area{
        height: 45vh;
        max-width: 100vw;
        transform: scale(1.4);
        
    }
    /* Precaution */
    #precautions .precaution .image-area{
        padding-bottom: 20px;
        display: block;
        margin: auto;
        max-width: calc(100vw - 127px);
    }
    #precautions .precaution
    {
        display: block;
        text-align: center;
    }
    #precautions .precaution .details{
        display: inline;
    }
    #precautions .precaution .details .text{
        margin: 20px 0;
    }
    #map .container{
        max-width: calc(100vw - 10px);
        margin: auto;
    }
    #map .image-area{
        height: 240px;
        max-width: calc(100vw - 50px);
        margin: auto;
    }
    #subscribe .input-field input{
        max-width: calc(100% - 120px);
    }
}